@import './../../../../../../styles/_variables';
@import './../../../../../../styles/_mixins';

.messageInfoContainer {
  .userInfo, .messageInfo {
    @include borderWithPseudElementInfo($grayBgc, #ffffff, 1rem, 500, 'INFORMACJE');
    margin: 30px 0;
    &::before {
      top: -12px;
      left: 50%;
      transform: translateX(-50%);
    }
    span {
      display: block;
      font-size: 1.3rem;
      font-weight: 500;
      color: $mainLogosBgc;
      strong {
        font-weight: 500;
        color: $yellowHover;
      }
    }
  }
  .messageInfo {
    text-align: center;
    &::before {
      content: 'TREŚĆ WYSYŁANEJ WIADOMOŚCI'
    }
  }
}

.viewMargin {
  padding-top: 20px;
}