@import '_variables';

@mixin errorInputForm() {
  border-color: $importantColor;
  color: $importantColor;
  &::placeholder {
    color: $importantColor;
  }
}

@mixin arrowNavigate($_size, $_angle, $from_left, $color) {
  content: '';
  position: absolute;
  margin-left: $from_left;
  top: 50%;
  display: block;
  border-right: 2px solid $color;
  border-bottom: 2px solid $color;
  width: $_size;
  height: $_size;
  transform: translate(0, -50%) rotate($_angle);
}

@mixin imputField($padding_right, $spaceUpDown) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: $spaceUpDown - 2 $padding_right $spaceUpDown $spaceUpDown + 5;
  outline: none;
  border: 2px solid #d0d0d0;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  color: $mainLogosBgc;
  width: 100%;
  transition: .2s;
  &::placeholder {
    color: #d0d0d0;
    font-weight: 400;
  }
  &:focus {
    border-color: $mainLogosBgc;
  }
}

@mixin asideText() {
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  color: $darkGray;
  font-weight: 300;
}

@mixin defaultButton() {
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  border-radius: 10px;
  background-color: $mainLogosBgc;
  color: #ffffff;
  cursor: pointer;
  transition: .2s;
  &:hover {
    box-shadow: 0 0 7px #b6b6b6;
  }
}

@mixin defaultButtonReset() {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@mixin borderWithPseudElementInfo($color, $titleBgc, $fontSize, $fontWeight, $content) {
  position: relative;
  border: 1px solid $color;
  border-radius: 7px;
  padding: 30px 50px;
  margin: 10px;
  background-color: $titleBgc;
  &::before {
    position: absolute;
    content: $content;
    width: fit-content;
    top: -14px;
    left: 20px;
    background-color: $titleBgc;
    color: $color;
    font-size: $fontSize;
    font-weight: $fontWeight;
    padding: 0 10px;
  }
}

@mixin clearInputField() {
  position: absolute;
  margin-left: -50px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  font-size: 1.3rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  .removeInputField {
    color: $mainLogosBgc;
  }
}

@mixin addNewValueButton($height, $crossSize) {
  position: relative;
  width: 100%;
  height: $height;
  padding: 15px 0;
  border-radius: 10px;
  color: $mainLogosBgc;
  border: 2px dashed $mainLogosBgc;
  font-size: 1.3rem;
  font-weight: 500;
  &::after, &::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $crossSize;
    height: 2px;
    background-color: $mainLogosBgc;
  }
  &::before {
    width: 2px;
    height: $crossSize;
  }
}

@mixin borderContainer() {
  position: relative;
  border: 2px solid $borderGray;
  border-radius: 10px;
  margin: 15px;
  padding: 15px;
  flex-basis: 50%;
  &::after {
    position: absolute;
    content: 'status ukończenia';
    width: fit-content;
    top: -11px;
    left: 50%;
    padding: 0 10px;
    color: $grayBgc;
    font-weight: 400;
    text-transform: uppercase;
    transform: translateX(-50%);
    background-color: #ffffff;
  }
}

@mixin checkmark() {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  border: 1px solid $footerContent;
  transition: .2s;
  &::after {
    content: '';
    position: absolute;
    display: none;
    left: 6px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

@mixin inputCheckbox($color) {
  margin-right: 15px;
  position: relative;
  z-index: 3;
  opacity: 0;
  height: 35px;
  width: 35px;
  cursor: pointer;
  &:checked ~ .checkmark {
    border-radius: 5px;
    border: 1px solid $color;
    background-color: $color;
    &::after {
      display: block;
    }
  }
}

@mixin resetPickersInputs() {
  &::-webkit-inner-spin-button, &::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: relative;
    margin-right: 10px;
    z-index: 3;
    -webkit-appearance: none;
    cursor: pointer;
  }
}