$whiteColor: #ececec;
$importantColor: #c43434;
$goodColor: #1d8e1d;

$topNavbarColor: #00234a;
$topNavbarHover: #cacaca;
$mainLogosBgc: #003c7d;
$hoverDarken: #0056aa;
$covidInfoBgc: #fefe00;
$headersH3: #183557;
$yellowDefColor: #efaa15;
$yellowHover: #df9e12;
$lightGrayBgc: #e5e7e8;
$lightLightGrayBgc: #f2f2f2;
$grayBgc: #b8b8b8;
$darkGray: #929292;
$footerHeaders: #535353;
$footerContent: #797979;
$borderGray: #d0d0d0;
$calendarBgc: #eeeeee;
$calendarPrev: #dfdfdf;

$widthVertical: 1200px;