* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  backface-visibility: hidden;
}

html, body, button, input, select, option, textarea {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.stopTransitions * {
  animation: none !important;
  transition: none !important;
}