@import './../../../styles/_variables';
@import './../../../styles/_mixins';


.scheduleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  .scheduleWrapper {
    position: relative;
    margin-top: 230px;
    display: flex;
    flex-direction: column;
  }
}

.dateInfoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 0;
  font-size: 1.2rem;
  span {
    color: $grayBgc;
    strong {
      font-weight: 500;
      color: $mainLogosBgc;
    }
  }
}

.scheduleDaysContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $lightLightGrayBgc;
  margin-bottom: 30px;
  .scheduleDaysWrapper {
    display: flex;
    margin: 30px 0;
    width: 80%;
    max-width: 1600px;
    min-width: $widthVertical;
  }
}

button.generateButton {
  @include defaultButton();
  max-width: 300px;
  margin: 60px auto 40px auto;
}

.progressBar {
  position: relative;
  width: 100%;
  height: 7px;
  border-radius: 10px;
  background-color: $lightLightGrayBgc;
  font-size: 1.2rem;
  color: $borderGray;
  text-align: center;
  display: none;
  span {
    display: block;
    padding-top: 15px;
    &.colored {
      color: $mainLogosBgc;
      font-weight: 500;
    }
  }
  .progressActive {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 10px;
    background-color: $mainLogosBgc;
    transition: .5s;
  }
  &.activeBar {
    display: block;
  }
}

////////////////////////////////////////////////////

@media only screen and (max-width: 1250px) {
  .scheduleContainer {
    width: 100%;
    .scheduleWrapper {
      width: 100%;
      margin-top: 150px;
    }
  }
  .dateInfoContainer {
    span {
      padding: 5px 0;
      &:nth-of-type(1) {
        display: none;
      }
    }
  }
  .scheduleDaysContainer {
    .scheduleDaysWrapper {
      flex-direction: column;
      max-width: 100%;
      min-width: 100%;
    }
  }
}