@import './../../../styles/_variables';

.currentURLcontainer {
  display: flex;
  justify-content: center;
  position: relative;
  top: 220px;
  margin-bottom: 40px;
  .currentURLwrapper {
    width: $widthVertical;
    .sigleCellRecord a, .arrowIcon, a {
      color: $footerContent;
      text-decoration: none;
      font-weight: 500;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.ifHeaderHasRedBar {
  top: 250px;
}

.arrowIcon {
  margin: 0 10px 0 10px;
  font-size: .7rem;
}

////////////////////////////////////////////////////

@media only screen and (max-width: 1250px) {
  .currentURLcontainer {
    top: 170px;
    .currentURLwrapper {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
}
